* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 80px;
    height: 80px;
    border: 10px solid black;
}

th {
    border: 0;
    width: 80px;
    height: 80px;
}

tr {
    height: 80px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.black {
    background: #222;
}